<div style="height: 200px">
    <div ng-parallax pattern="'app/img/parallax/img02.jpg'" speed="2" reverse="true"/>
</div>
<div class="container jumbotron">
    <div class="row">
        <h1 class="h1">Kontakt</h1>
        <p><strong>Adres:</strong> ul.Krakowska 80, Kraków</p>
        <p><strong>Numer telefonu:</strong> 333 888 666</p>
        <p><strong>Dojazd:</strong> autobus: 123, 169, 273 tramwaj: 52, 50, 8</p>
    </div>
</div>
<div style="height: 200px">
    <div ng-parallax pattern="'app/img/parallax/img02.jpg'" speed="2" reverse="true"/>
</div>