<div style="height: 200px">
    <div ng-parallax pattern="'app/img/parallax/img02.jpg'" speed="2" reverse="true"/>
</div>
<div class="container jumbotron">
    <div class="row">
        <div class="col-md-push-6 col-md-6">
            <h1 class="h1">O Nas</h1>
            <p>Jesteśmy włoską restauracją prowadzoną od 10 lat. Prowadzona jest prze włoską rodzinę pochodzacą z Sycylii.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1 class="h1">Kontakt</h1>
            <p><strong>Adres:</strong> ul.Krakowska 80, Kraków</p>
            <p><strong>Numer telefonu:</strong> 333 888 666</p>
            <p><strong>Dojazd:</strong> autobus: 123, 169, 273 tramwaj: 52, 50, 8</p>
        </div>
    </div>
</div>
<div style="height: 200px">
    <div ng-parallax pattern="'app/img/parallax/img02.jpg'" speed="2" reverse="true"/>
</div>