<div class="container">
    <div class="jumbotron">
        <ul class="breadcrumb">
            <li><a href="#/menu">Menu</a></li>
            <li class="active" >{{dish.category}} {{dish.name}}</li>
        </ul>
        <div class="row">
            <h3 class="h3">
                Potrawa: {{dish.category}} {{dish.name}}
                <span uib-rating  class="col-md-push-2 col-md-4" ng-model="dish.stars" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                <strong class="pull-right text-warning">{{dish.price | currency}}</strong>
            </h3>
            <div class="col-md-4">
                <img src="{{dish.img}}" class="img img-responsive" height="100px">
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>Opis:</label>
                    <p>{{dish.description}}</p>
                </div>
                <div class="form-group">
                    <div ng-show="dish.ingradients.length > 0 " class="col-md-6">
                        <label>Składniki:</label>
                        <ul>
                            <li ng-repeat="ingradient in dish.ingradients">
                                {{ingradient}}
                            </li>
                        </ul>
                    </div>
                    <div ng-show="dish.allergens.length > 0" class="col-md-6">
                        <label>Alergeny:</label>
                        <ul>
                            <li ng-repeat="ingradient in dish.allergens">
                                {{ingradient}}
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="row" ng-init="showComments = false">
            <h3 class="h3" ng-click="showComments = !showComments">Komentarze</h3>
            <div ng-show="showComments" class="row sample-show-hide">
                <div class="col-md-4">
                    <form ng-submit="addComment()">
                        <div class="form-group">
                            <input class="form-control col-md-6" type="text" placeholder="podpis" ng-model="comment.author"/>
                            <div>
                                <strong class="col-md-6"> Ocena:</strong>
                                <span uib-rating  class="col-md-6" ng-model="comment.stars" read-only="false" on-hover="overStar = value; percent = 100 * (value / 5);" on-leave="overStar = null"  titles="['one','two','three']" aria-labelledby="default-rating"></span>
                            </div>
                            <input class="form-control" type="email" placeholder="email" ng-model="comment.email"/>
                            <textarea rows="4" class="form-control" placeholder="tesc komentarza.."  ng-model="comment.content"/>
                            <button class="col-md-12 btn btn-sm btn-primary" type="submit">Dodaj komentarz</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <table ng-show="comments.length > 0" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Autor</th>
                            <th>Email</th>
                            <th>Treść</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="comment in comments">
                            <td class="col-md-2">{{comment.author}}</td>
                            <td class="col-md-2">{{comment.email}}</td>
                            <td class="col-md-2"><span uib-rating  ng-model="comment.stars" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></span></td>
                            <td class="col-md-6">{{comment.content}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>