<footer id="footer" class="myfooter navbar navbar-default navbar-bottom">
    <div class="muted credit container">
        <div class="container">
            <div class="row addspace">
                <div class="col-md-6 col-md-push-2">
                    <strong class="col-md-push-4 col-md-2"><a href="#/contact">Kontakt</a></strong>
                    <strong class="col-md-push-4 col-md-4"><a href="#/careers">Pracuj z nami</a></strong>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-push-5 col-md-2">All rights reserved</div>
        </div>

    </div>
</footer>