<div ng-controller="reservationCtrl" class="container jumbotron">
    <h1 class="h1">Rezerwacja</h1>
    <div class="row addspace">
        <div class="col-md-1"></div>
        <img class="img img-responsive" src="app/img/zpw_restaurant.png" alt="sala restauracyjna"/>
    </div>
    <form ng-init="newReservation = {}" ng-submit="reserveTable()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Data rezerwacji</label>
                    <div uib-datepicker ng-model="dateTimestamp" class="well well-sm"
                         datepicker-options="options"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="res_time">Godzina</label>
                    <div uib-timepicker id="res_time" ng-model="timeTimestamp" hour-step="1" minute-step="30" show-meridian="true"></div>
                </div>
                <div class="form-group col-md-push-2 col-md-4">
                    <label for="res_duration">Długość:</label>
                    <input type="number" class="form-control" id="res_duration" placeholder="Enter duration" min="1" max="3" ng-model="newReservation.duration">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group col-md-2">
                    <label for="table">Numer stolika</label>
                    <select type="" class="form-control" id="table" placeholder="Numer stolika"
                            ng-model="newReservation.table">
                        <option ng-value="1">1(5 osób)</option>
                        <option ng-value="2">2(4 osoby)</option>
                        <option ng-value="3">3(4 osoby)</option>
                        <option ng-value="4">4(5 osób)</option>
                        <option ng-value="5">5(7 osób)</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="name">Imie</label>
                    <input type="text" class="form-control" id="name" placeholder="Imie zamawiającego"
                           ng-model="newReservation.name">
                </div>
                <div class="form-group col-md-4">
                    <label for="surname">Nazwisko</label>
                    <input type="text" class="form-control" id="surname" placeholder="Nazwisko zamawiającego"
                           ng-model="newReservation.surname">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="adres email"
                           ng-model="newReservation.email">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Numer kontaktowy</label>
                    <input type="text" class="form-control" id="phone" placeholder="numer telefonu kontaktowego"
                           ng-model="newReservation.phone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Czy chcesz coś zmówić, by Twoje danie było gotowe wraz z Twoim przyjściem?</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="wantTOrder"/>
                        Tak, chcę dodać zamówienie
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary col-md-push-4 col-md-4">Rezerwuj!</button>
        </div>
    </form>
</div>