<div class="container jumbotron">
    <h2 class="h1">Rezerwacje</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Osoba</th>
            <th>Stolik</th>
            <th>Dzień</th>
            <th>Czas pobytu</th>
            <th>Posiłki</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="reservation in reservations" class="{{getTodayColorClass(reservation.date)}}">
            <td>{{reservation.name}} {{reservation.surname}}</td>
            <td>{{reservation.table}}</td>
            <td>{{reservation.date | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{reservation.duration}} h</td>
            <td>
                <ul class="list">
                    <li ng-repeat="o in reservation.order"> {{o.name}} x{{o.quantity}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>