<div class="container jumbotron">
    <h2 class="h2">Potrawy</h2>
    <p>
        <a class="btn btn-primary" href="#/admin/menu/add">Dodaj potrawe</a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Obrazek</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Dostępność</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dish in dishes">
            <td class="col-md-2"><strong>{{dish.name}}</strong></td>
            <td class="col-md-3"><img src="{{dish.img}}" class="img img-responsive" height="100px"></td>
            <td class="col-md-3">{{dish.description}}</td>
            <td class="col-md-1">{{dish.price | currency}}</td>
            <td class="col-md-1">
                <input type="checkbox" ng-checked="dish.avaliable" disabled>
            </td>
            <td class="col-md-2">
                <div class="btn-group-sm">
                    <button class="btn btn-warning" ng-click="">Modyfikuj</button>
                    <button class="btn btn-danger" ng-click="removeDish(dish._id)">Usuń</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>