<div class="row">
    <div class="col-md-push-2 col-md-8">
        <form ng-submit="registerNewUser()" ng-init="user = {}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="user.username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select type="" class="form-control" id="role" placeholder="Role" ng-model="user.role">
                    <option ng-value="ADMIN">admin</option>
                    <option ng-value="USER">user</option>
                    <option ng-value="EMPOLYEE">employee</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info">Register new user!</button>
        </form>
    </div>
</div>