<div class="container">
    <h2>Users</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Last log in</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td>{{user.lastLogIn}}</td>
        </tr>
        </tbody>
    </table>
</div>